input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}


input {
    font: inherit;
    letter-spacing: inherit;
    color: currentColor;
    padding: 4px 0 5px;
    border: 0.5px solid grey;
    border-radius: 5px;
    box-sizing: content-box;
    background: white;
    height: 1.4375em;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0;
    width: 100%;
    -webkit-animation-name: mui-auto-fill-cancel;
    animation-name: mui-auto-fill-cancel;
    -webkit-animation-duration: 10ms;
    animation-duration: 10ms;
    height: 1.375rem;
    padding-top: 12px;
    padding-right: 1px;
    padding-bottom: 12px;
    margin: 0;
    padding: 16.5px 14px;
    height: 1.375rem;
    padding-top: 12px;
    padding-right: 1px;
    padding-bottom: 12px;
}



.error-message {
  color: rgb(252, 113, 113);
  margin-top: 5px;
}

.swal-overlay {
  z-index: 100000000000 !important;
}

button, .css-nhb1r-MuiButtonBase-root-MuiButton-root {
  color: white !important;
  background-color: #c2b067 !important;
  margin: 10px 5px 10px 5px !important;
}

